.header {
  display: flex;
  justify-content: center;
  background: var(--color-primary);

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    max-width: var(--max-width);
  }
}
